<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Instancia predeterminada MSSQLSERVER instalada en este equipo. -->
    <add name="BibliotecaDB"
         connectionString="Server=.;Database=BibliotecaDB;Integrated Security=True;TrustServerCertificate=True;"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
